/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        homer_left: homer_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMER_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <270>;
            quick-tap-ms = <300>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <39 40 41 30 6 18 7 8 9 10 11 19 20 21 22 23 31 32 33 34 35 38 36 37>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <170>;
        };

        homer_right: homer_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMER_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <270>;
            quick-tap-ms = <300>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <39 40 41 36 38 37 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <170>;
        };

        homer_thumb: homer_thumb {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMER_THUMB";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <300>;
            flavor = "balanced";
        };

        homer_thumb_space: homer_thumb_space {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMER_THUMB_SPACE";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <200>;
            flavor = "balanced";
            retro-tap;
        };

        homer_right_shift: homer_right_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMER_RIGHT_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <300>;
            hold-trigger-key-positions = <39 40 41 36 38 37 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <70>;
        };

        homer_left_shift: homer_left_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMER_LEFT_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <300>;
            hold-trigger-key-positions = <39 40 41 36 38 37 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <70>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&none    &kp Q               &kp W                &kp E               &kp R                           &kp T      &kp Y      &kp U                       &kp I                &kp O                 &kp P                   &mo 1
&kp TAB  &homer_left LALT A  &homer_left LCTRL S  &homer_left LGUI D  &homer_left_shift LEFT_SHIFT F  &kp G      &kp H      &homer_right_shift RSHFT J  &homer_right RGUI K  &homer_right RCTRL L  &homer_right RALT SEMI  &kp LG(LCTRL)
&none    &kp Z               &kp X                &kp C               &kp V                           &kp B      &kp N      &kp M                       &kp COMMA            &kp DOT               &kp FSLH                &none
                                                  &none               &homer_thumb 3 BACKSPACE        &kp ESC    &kp SPACE  &homer_thumb 2 ENTER        &none
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp TAB     &kp N1        &kp N2        &kp N3        &kp N4        &kp N5          &kp N6    &kp N7    &kp N8    &kp N9     &kp N0  &kp BSPC
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &trans  &trans
&kp LSHFT   &trans        &trans        &trans        &trans        &trans          &trans    &trans    &trans    &trans     &trans  &trans
                                        &kp LGUI      &trans        &kp SPACE       &kp RET   &trans    &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&none  &kp EXCL              &kp AT             &kp UP_ARROW  &kp DLLR         &kp PRCNT                &kp CARET      &kp SINGLE_QUOTE   &kp EQUAL       &kp PIPE       &none         &none
&none  &kp LEFT_PARENTHESIS  &kp LEFT_ARROW     &kp DOWN      &kp RIGHT_ARROW  &kp RIGHT_PARENTHESIS    &kp AMPERSAND  &kp DOUBLE_QUOTES  &kp MINUS       &kp PLUS       &kp ASTERISK  &none
&none  &kp LEFT_BRACKET      &kp RIGHT_BRACKET  &kp HASH      &kp LEFT_BRACE   &kp RIGHT_BRACE          &kp TILDE      &kp GRAVE          &kp UNDERSCORE  &kp BACKSLASH  &none         &none
                                                &kp LGUI      &trans           &kp SPACE                &kp RET        &trans             &kp RALT
            >;
        };

        layer_6 {
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5    &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans
&trans  &trans        &trans        &trans        &trans        &trans    &trans        &trans        &trans        &trans        &trans        &trans
&trans  &trans        &trans        &trans        &trans        &trans    &trans        &trans        &trans        &trans        &trans        &trans
                                    &trans        &trans        &trans    &trans        &trans        &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
